# Python virtual environment
venv/

# macOS system files
.DS_Store

# Python cached files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Rasa specific
models/

# Node modules (for chatroom)
node_modules/